body{
    background-color: #c7c9c3;
    color: #202522;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35413d;
    border-bottom: 4px solid #1f2725;
}
.header img{
    width: 140px;
    height: 140px;
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0 100px 0 0;
}
.link{
    font-family: "Pixelify Sans", sans-serif;
    width: 180px;
    height: 70px;
    color: #f1f1e8;
    background-color: #1f2725;
    text-align: center;
    font-size: 36px;
    line-height: 70px;
    border: 3px solid #67736d;
    transition: 0.15s;
    text-decoration: none;
}
.link:hover {
  background-color: #b46f3c;
  color: #1f2725;
  transform: translateY(-3px);
}
.container{
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.card{
    border:5px solid #67736d;
    font-family: "Pixelify Sans", sans-serif;
    width: 400px;
    height: 656px;
    background-color: #1f2725;
    color: #f1f1e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 0;
}
.card img{
    width: 340px;
    height: 340px;
    color: #f1f1e8;
    text-align: center;
    line-height: 340px;
    background-color: #67736d;
}
.card h2{
    text-align: center;
    line-height: 10px;
    font-size: 36px;
}
.card p{
    background-color: #9ea49e;
    margin: 0px 30px 0 30px;
    font-size: 26px;
    display: flex;
    align-items: center;
    line-height: 40px;
    width: 340px;
    height: 120px;
    color: #f1f1e8;
}
.card button{
    background-color: #b46f3c;
    width: 340px;
    height: 70px;
    margin: 24px 0px 0 0px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 42px;
    transition: 0.15s;
}
.card button:hover{
    background-color: #d59b62;
}
